<br /><br /><br /><br /><br />



<div class="container main-div">
  <h1>Welcome to Bits&Bytes Bank</h1>
  <p>The World is full of Bits and Bytes !!! </p>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

  <hr style="border:1px solid black" />

  <div id="myModal" class="facemodal" *ngIf="isUnauthorised">
    <div class="facemodal-content">
      <span class="faceclose" (click)="close()">&times;</span>
      <strong style="color:#9a3c3c;padding-left: 15px;">Error !! </strong>
      <span style="color:#9a3c3c;margin-top: 7px;">User Not Authorized</span>
    </div>
  </div>

  <div class="row" style="padding-left: 1%;">
    <div class="col-md-6 box" style="height: 250px;">

      <div style="text-align:center; padding-top: 5%"><b>Password Authentication</b></div> <br />

      <!-- <label for="username">Username : </label>
      <input type="text" name="" id="" value="Enter Your Username " /> <br /><br />

      <label for="username"> Password : </label>
      <input type="text" name="" id="" value="Enter Your Password " class="form-control" /><br /><br /> -->

      <div class="input-group col-xs-11" style="z-index: 0;">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="input-group col-xs-11" style="z-index: 0;">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="password" class="form-control" name="password" placeholder="Password">
      </div>

      <div class="row" style="padding-left: 20%; ">
        <button class="btn btn-primary" style="margin:5px; ">Enter </button>
        <button class="btn btn-warning" style="margin:5px;">Reset </button>
      </div>

    </div>

    <div class="col-md-6 box" style="text-align:center; padding-top: 3%;">
      <b>Face Authentication</b>
      <div>
        <p>A modernised way for authenticating into system. All you have to do is stand in front of camera click on
          "Authenticate" button.</p><br />
        <p>You would be entered into system, if your are a valid customer of ours </p>
      </div>

      <button class="btn btn-primary" (click)="toggleWebcam()">Authenticate</button>
      <!-- <button (click)="triggerSnapshot()">Snapshot</button> -->
    </div>


    <div class="row">
      <div style="right: 470px; top: 100px; position: absolute; ">
        <webcam *ngIf="showWebcam" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
      </div>

      <ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="timer" [fullScreen]="false">
        <p style="color: white"> Loading... </p>
      </ngx-spinner>

      <!-- <div class="col-md-4" style="padding-left:10%;" >
          <div class="snapshot" *ngIf="webcamImage">
            <img [src]="webcamImage.imageAsDataUrl"/>
          </div>
        </div> -->
    </div>
  </div>

  <div class="container" style="z-index: 0;">
    <form action="/action_page.php">
      <div>
        <h2 style="text-align:center">Share with us on Social Media</h2>
        <div class="col">
          <a href="#" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i>
          </a>
          <a href="#" class="twitter btn" style="margin-left: 50px;">
            <i class="fa fa-twitter fa-fw"></i>
          </a>
          <a href="#" class="google btn" style="margin-left: 50px;"><i class="fa fa-google fa-fw">
            </i>
          </a>
        </div>
      </div>
    </form>
  </div>

  <!-- -->

</div>